h1 
{
    color: #a00046;
    margin: 20px 0 10px 20px;  
}

/*untuk gig job section*/
.item-container 
{
    background-color: #fff;
    border: 2px solid #a00046;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 0 25px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Untuk Gig Name & Salary */
.gig-left 
{
    display: flex;
    align-items: center;
}

.gig-img img 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d48ca8; 
    margin-right: 10px;
}

.gig-salary 
{
    color: #a00046;
}

/* gap antara category dengan district */
.gig-right 
{
    display: flex;
    gap: 10px;
}

.gig-filter 
{
    background-color: transparent;
    color: #a00046;
    border: 3px solid #a00046;
    border-radius: 25px;
    padding: 8px 25px;
    font-size: 0.95em;
}

/* untuk upload section */
.file-upload-container 
{
    background-color: #fff;
    border: 2px solid #a00046;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 25px 10px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    label {
        font-size: 0.9em;
        color: #918f8f;
    }
}

.choose-btn, .view-btn
{
    background-color: #a00046;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 0.95em;
    display: inline-block;
    margin-right: 10px;
}

.submit-btn
{
    background-color: #a00046;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 0.95em;

}

.submit-btn 
{
    display: block;
    margin: 15px auto;
    margin-top: 50px;
}

#fileList 
{
    list-style: none;
    padding: 0;
    margin: 0 25px;
}

#fileList li 
{
    background-color: #fff;
    border: 2px solid #a00046;
    border-radius: 10px;
    padding: 8px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer 
{
    margin-top: 40px;
}

h2 
{
    margin-top: 30px;
    color: #000000;
    margin-left: 25px;
    margin-bottom: 10px;
}

.rating-container 
{
    text-align: center;
    margin-top: 30px;
}

.rating-container h3 
{
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.formSection 
{
    width: 90%;
    max-width: 400px;
    margin: 0 auto 20px auto; 
    background-color: #ffffff;
    padding: 10px 20px;       
    border-radius: 15px;     
    border: 2px solid #000000; 
    box-sizing: border-box;
    display: flex;            
    justify-content: center;
    align-items: center;
}

#rateInput
{
    width: 100%;
    border: none;            /*ni untuk buang border asal untuk input*/
    text-align: center;       
    font-size: 1.1em;
    background: transparent;
    outline: none;      /*ni untuk buang outline kotak input bila kita type ha*/
}

.choose-btn 
{
    background-color: #d48ca8;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 0.95em;
    display: inline-block;
    margin-right: 10px;
}

.divider
{
    border: none;
    border-top: 2px solid black;
    width: 100%;
    margin: 40px auto;
    opacity: 0.3;
}

#feedbackMessage{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}