body{
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;           
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    min-height: 100vh;   
}

.first-container{
    display: flex;
    flex-direction: column;
    align-items: center;       
    text-align: center;
    margin: 30px 0 40px;
}

.highlightText, .role-content p, p.right a{
    color: rgb(150, 0, 66);
}

.first-button{
    margin: 20px 0 0;
}

.first-button a, .second-button a{
    text-decoration: none;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 20px;
    background-color: rgb(150, 0, 66, 0.7);
}

.first-button a:hover, .second-button a:hover{
    background-color: rgb(150, 0, 66);
}

.first-container h1, .first-container p{
    margin-bottom: 3px;
}

.second-container{
    border-top: solid 1px rgb(150, 0, 66);
    padding-top: 35px;
    margin: 0 8%;
}

.second-container h2{
    text-align: center;
    margin-bottom: 25px;
}

.role-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto 40px;
  padding: 0 9%;
}

.role-container h3{
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(150, 0, 66);
    padding-bottom: 10px;
}

.role-section{
    flex: 1;
}

.role-step{
    display: flex;
    gap: 20px;
}

.role-number{
    border: none;
    border-radius: 50%;
    background-color: rgb(150, 0, 66);
    color: white;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    flex-shrink: 0;
}

.role-content{
    margin-bottom: 20px;
}

.role-content h4{
    font-size: 17px;
}

.right{
    margin: 15px 0 40px;
    text-align: right;
}

.category-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.category-list{
    border: 2px solid rgb(150, 0, 66);
    padding: 35px 20px;
    text-align: center;
    width: 15%;
    border-radius: 25px;
}

.category-list p{
    margin-top: 10px;
    font-weight: bold;
}

.second-button{
    text-align: center;
    margin: 40px 0 30px;
}

@media (max-width: 480px) {
   .role-container {
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
    padding: 0 4%;
  }

  .second-container {
    margin: 0 6%;
  }

  .category-container{
    gap: 18px;
  }

  .category-list{
    padding: 20px;
    width: 30%;
  }
}