.accessibility{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

form{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.search-section{
  flex: 1;
}

.filter-section{
  flex: none;
}

input[type="search"], select{
  width: 100%;
  padding: 12px 16px;
  border-radius: 25px;
  border: 3px solid rgb(150, 0, 66);;
  outline: none;
  font-size: 16px;
  color: rgb(150, 0, 66);
  background-color: rgba(254, 234, 243, 0.666);;
}

button[type="submit"]{
  padding: 12px 16px;
  border-radius: 25px;
  border: none;
  background-color: rgb(150, 0, 66);
  color: white;
}

::placeholder{
  color: rgb(150, 0, 66);
}

.list-container{
  margin-top: 30px;
}

.gig-list, .user-list{
  list-style: none;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-container a{
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  border: 2px solid rgb(150, 0, 66);
  border-radius: 10px;
  text-decoration: none;
}

.gig-left, .user-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-img img, .gig-img img, .category-list img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid rgb(150, 0, 66);
  background-color: rgba(150, 0, 65, 0.141);
  padding: 4px;
}

.gig-right, .user-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.gig-filter, .user-filter{
  padding: 12px 16px;
  border-radius: 25px;
  color: rgb(150, 0, 66);
  width: 160px;
  text-align: center;
  border: 3px solid rgb(150, 0, 66);
}

.gig-name, .user-name{
  font-size: 20px;
  color: black;
}

.gig-salary{
  color: rgb(150, 0, 66);
}

@media (max-width: 480px) {
  form{
    flex-direction: column;
  }

  .item-container a {
    flex-direction: column;
    padding: 16px;
  }

  .gig-right, .user-right {
    justify-content: center;
    margin-top: 20px;
  }
}