body
{
    background-color: rgb(150, 0, 66);;
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

header
{
    margin-top: 30px;
}

.imgLogo
{
    display: flex;
    justify-content: flex-start;
}

.imgLogo img
{
    width: 120px;
    height: auto;
}

.imgIcon img
{
    width: 115px;
    height: 115px;
    display:flex;
    margin: auto;
}

#formGroup
{
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

label
{
    font-size: 17px;
}

input
{
    width: 100%;
    height: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 17px;
    box-sizing: border-box;
}

button
{
    width: 70px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    font-size: 15px;
    text-align: center;
    display:flex;
    margin: auto;
    display: block;
}

/* .hidden 
{
    display: none;
}*/

h1
{
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 8%;
}

h2
{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

.dropdown
{
    display:block;
    flex-direction: column;
    margin-bottom: 7%;
}

.dropdown select
{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 5px;
}

@media screen and (max-width: 768px)
{
    #formGroup
    {
        padding: 30px;
    }

    h1
    {
        font-size: 28px;
    }
}


@media screen and (max-width: 480px)
{
    #formGroup
    {
        width: 95%;
        padding: 20px;
    }

    .imgLogo img
    {
        width: 90px;
    }

    .imgIcon img
    {
        width: 90px;
        height: 90px;
    }

    h1
    {
        font-size: 22px;
    }

    input
    {
        font-size: 15px;
    }

    button
    {
        width: 100%;
    }
}

